.collections {
    min-height: 10rem;
    margin: 5% 5% 0px 5%;
    padding: 5%;
    background-size: cover !important;
    border: solid 1px;
}

.collections-title {
    text-align: center;
    font-weight: bold;
}