.terms {
    background: #4b4b4b;
    margin: 5%;
    padding: 5%;
}

.terms h4 {
    font-size: larger;
    position: relative;
}

.terms h4:after {
    content: '';
    width: 60px;
    height: 4px;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 0px;
}

.list {
    margin-top: 35px;
}

.list ol {
    padding-left: 29px;
    font-size: 0.8rem;
    font-family: monospace;
}

.list ol li a {
    color: #74cff8;
}