html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html,
#root {
  background: #010101;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: calc(12px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  overflow: auto;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0px;
  padding: 0px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.display-flex {
  display: flex;
}

.button {
  background: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px 16px;
  margin: 20px;
  cursor: pointer;
  font-size: 0.6rem;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}